.del h2 {
  color: rgb(61, 61, 61);
  font-size: 1.2rem;
  font-style: italic; 

}

.del .item-boxes {
  display: block;
  background-color: transparent;
  border: 1px solid rgb(172, 82, 82);
  margin: 0;
  padding: 0;
  height: 4.9rem;
}

.del .item-boxes.selected.home {
  height: 7rem;
}

.del .item-boxes.selected.home .address-input div {
  background-color: aquamarine;
  padding: .3rem;
  padding-left: 1.5rem;
}

.del .item-boxes.selected.home .address-input input {
  display: inline;
  background-color: rgb(255, 255, 255);
}

.del .item-boxes .center-checkbox {
  display: inline-block;
  position:relative;
  margin-top: .4rem;
  margin-left: .4rem;
  width: .7rem;
  height: 4.4rem;
  background-color: rgb(255, 230, 0);
  border-top:1px solid rgb(175, 175, 175);
  border-left:1px solid rgb(175, 175, 175);
  border-bottom:1px solid rgb(175, 175, 175);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.del .item-boxes.selected .center-checkbox {
  background-color: rgb(29, 196, 59);
}

.del .item-boxes label {
  display: inline-block;
  position:absolute;
  margin-top: .4rem;
  padding: .1rem;
  padding-left: .7rem;
  height: 4.4rem;
  background-color: rgb(255, 255, 255);
  width: 16rem;
  border-top:1px solid rgb(175, 175, 175);
  border-right:1px solid rgb(175, 175, 175);
  border-bottom:1px solid rgb(175, 175, 175);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.PickBoxOuter {
    display:block;
    overflow: hidden;
    width: 100%;
    block-size: fit-content;
    background-color: transparent;
  }
  
.PickBoxMiddle {
  float: left;
  width: 22rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: .3rem;
  height: max-content;
  background-color:transparent;
  border:1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.form-delivery {
    background-color: transparent;
  }
