.sel .form {
  display: block;
  overflow: hidden;
  background-color: transparent;
  height: fit-content;
}
  
.sel .sel-box {
  display: block;
  margin: .8rem;
  float: left;
  position: relative;
  border-radius: 2px;
  height: 10rem;
  width: 15rem; 
  overflow: hidden;
  color:rgb(56, 55, 63);
  background-color: rgb(249, 249, 249);
  border:1px solid rgb(133, 133, 133);
}

.sel .sel-box.checked .subsel-box.first {
    background-color: rgb(117, 175, 108);
}
  
.sel .subsel-box.first {
    height: 3rem;
    padding: .3rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(200,121,125);
  }

.sel .subsel-box.first label {
    display: block;
    position: absolute;
    top: .5rem;
    left: 1rem;
  }

.sel .subsel-box.first input {
    position:absolute;
    z-index: 1;
    display: block;
    opacity: 0;
    height: 16rem;
    width: 16rem;
    background-color: yellowgreen;
  }
  
.sel .subsel-box.second {
  display: block;
  position: absolute;
  top: 3rem;
  right: 1rem;
  line-height:140%;
  font-size: 1rem;
  height: fit-content;
  color: rgb(0, 0, 0);
  padding: .3rem;
}

.sel input {
  display: inline;
  float: left;
  position: relative;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 2px;
  font-size: 1rem;
  width: 3rem;
  margin-right: .4rem;
  height: 1.7rem;
}

.sel .click-svg g {
  stroke-opacity: 1;
  stroke-width: 1px;
}

.sel h2 {
  color: rgb(101, 68, 21);
  font-size: 1.2rem;
  font-style: italic; 
  padding: 3rem 0 1rem 0;
}
