:root {
  font-size: 16px;
  background-color: rgb(252, 253, 242);
  font-family: "Merriweather";
}

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: .3rem .3rem .3rem .3rem;
  /* border: 0;*/
  font-family: "Merriweather";
}

h1 {
  color: rgb(101, 68, 21);
};


